body {
    font-family: 'Arial', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;

}

header {
    background-color: #003557;
    /*dunklere Farbe für besseren Kontrast*/
    color: #f5f5f5;
    text-align: center;
    font-size: x-large;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 200px;
}


fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0;
}

details {
    margin-top: 10px;
}

footer {
    background-color: #011c2e;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px;
    display: block;
    position: relative;
    min-height: 250px;
    text-align: center;
}

.card a {
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -10px;
}

.card h2 {
    margin-top: 100px;
}

.card ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
}

.card ul li {
    background: lightgray;
    padding: 10px;
    border-radius: 10px;
}

/** Answer **/
.card p.answer {
    background-color: powderblue;
    padding: 15px;
    max-width: 300px;
    margin: auto;
    display: none;
}

.button {
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    background-color: #003557;
    color: #ddd;
}


.navbar {
    color: white;
    text-align: center;
    padding: 10px;

}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

/* html Form */



label {
    display: block;
    margin-bottom: 5px;
}

textarea,
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 60%;
    max-height: 20%;



}

input {
    background-color: #003557;
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.bookmarked { 
    background-color: yellow;
}


input[type="submit"]:hover {
    background-color: #002030;
}

.utf8 {
 font-size: 50px;
}